body{
  background-color: skyblue;
}
.logo{
  width: 40%;
}
a:link {
    color: royalblue;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: royalblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: royalblue;
    background-color: transparent;
    text-decoration: none;
}
.icon{
  float:left;
  text-align: center;
  width: 55%;
  padding-top: 5%;
}
.login{
  text-align: center;
  float:left;
  width:25%;
  margin: 10%;
  padding-top: 10%;
}
.create{
    text-align: center;
    float:left;
    width:25%;
    margin: 5%;
    padding-top: 5%;
}
.location{
  margin-right: 20px;
  margin-left: 5px;
}

.userList{
  display: inline-block;
}
